---
title: "October, 2021"
linkTitle: "October, 2021"
data: 2021-10-1
---

{{< blocks/cover title="每日单词" image_anchor="top" height="full" color="primary" >}}
<p class="lead mt-5">每天一背,开开心心。</p>
{{< /blocks/cover >}}
<!-- model

{{% blocks/lead color="dark" %}}
<i><h1>2021-10-</h1></i>
<div class="-text-light">

</div>
{{% /blocks/lead %}}
{{% blocks/lead color="secondary" %}}
<i><h1>2021-10-</h1></i>
<div class="-text-light">

</div>
{{% /blocks/lead %}}

-->
{{% blocks/lead color="dark" %}}
<i><h1>2021--</h1></i>
<div class="-text-light">

</div>
{{% /blocks/lead %}}
{{% blocks/lead color="secondary" %}}
<i><h1>2021-10-23</h1></i>
<div class="-text-light">
1. technical    ['teknɪkl]     adj. 科技的,工艺的

2. customization  ['kʌstəməzeɪʃən]   n. 定制;[计]用户化

3. template     ['templteɪ]     n.模板

4. static      ['stætɪk]      adj.静止的 n.静电

5. generator    ['dʒenəreɪtər]    n.发电机;生成器

6. specifically   [spəˈsɪfɪkli]    adv.特异地;明确地;专门地

7. reliabl     [rɪˈlaɪəbl]     adj.可靠的
</div>
{{% /blocks/lead %}}